@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 0px 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    background-color: #6DD3CE;
    height: 60px;
    width: 100px;
}

.logo img {
    margin-top: 20px;
    width: 75px;
    height: 20px;
    margin-left: 15px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding-left: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ccc;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    margin-left: auto;
    height: 40px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 250px;
    font-size: 16px;
    border-radius: 30px 0 0 30px;
}

.search-bar button {
    background: #6DD3CE;
    border: none;
    padding: 10px 15px;
    border-radius: 0 30px 30px 0;
}

.search-bar button:hover {
    background: #ccc;
}

.search-bar button i {
    color: white;
    font-size: 16px;
}

