@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

img {
    width: 100%;
}

:root {
    --base-color: #FFFFFF;
    --base-variant: #B7BFC2;
    --background: #393a3b;
    --text-color: #252627;
    --secondary-text: #4A5256;
    --primary-color: #DE3C4B;
    --accent-color: #DC4F5F;

}

.darkmode {
    --base-color: black;
    --base-variant: #101425;
    --text-color: white;
    --secondary-text: #a4a5b8;
    --primary-color: #3a453d;
    --accent-color: #0071ff;
}

header {
    background-color: var(--text-color);
    color: var(--base-color);
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grand {
    font-family: "Tangerine", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    margin: 20px;
}

.logo img {
    height: 60px;
    width: 100%;
    object-fit: contain;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
    padding-left: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ccc;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 40px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 250px;
    font-size: 16px;
    height: 40px;
    border-radius: 30px 0 0 30px;
}

.search-bar button {
    background: var(--base-color);
    height: 40px;
    border: none;
    padding: 10px 15px;
    border-radius: 0 30px 30px 0;
}

.search-bar button:hover {
    background: #ccc;
}

.search-bar button i {
    color: var(--text-color);
    font-size: 16px;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}

article {
    background-color: var(--base-color);
    grid-column: span 3;
    min-height: 150px;
    border: 3px solid black;
}

article.large {
    grid-column: span 6;
}

article.xlarge {
    grid-column: span 12;
}


.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    color: #ccc;
}

.dropdown-menu.active {
    display: block;
}

.xlarge {
    position: relative;
    cursor: pointer;
}

.xTekstBoks {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.xTekst {
    font-size: 50px;
    text-align: center;
    color: var(--base-color);
}

.xBilde {
    transition: 0.5s;
    height: 100%;
}

.xBilde:hover {
    filter: brightness(30%)
}


.video {
    height: 500px;
    background-color: #0071ff;
    margin-top: 100px;
    flex: 0 0 30%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.video video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.video-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    overflow-x: scroll;
    padding: 10px;
    background: white;
}