@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --base-color: #FFFFFF;
    --base-variant: #B7BFC2;
    --background: #393a3b;
    --text-color: #252627;
    --secondary-text: #4A5256;
    --primary-color: #DE3C4B; 
    --accent-color: #DC4F5F; 

}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.overskrift {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

h1{
    color: var(--primary-color);
}

.content {
    display: flex;
    max-width: 1100px;
    margin: 40px auto;
    gap: 20px;
    padding: 20px;
}

.text-column {
    flex: 2;
    padding: 20px;
    background: var(--base-variant);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
}

.info-column {
    flex: 1;
    background: var(--base-variant);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    border-radius: 8px;
}

.info-box {
    background: var(--border-color);
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

h2, h3 {
    color: var(--accent-color);
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

ul li {
    margin: 0px 10px;
    padding-left: 5px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

ul li a:hover {
    color: #ccc;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 40px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 250px;
    font-size: 16px;
    height: 40px;
    border-radius: 30px 0 0 30px;
}

.search-bar button {
    background: var(--base-color);
    height: 40px;
    border: none;
    padding: 10px 15px;
    border-radius: 0 30px 30px 0;
}

.search-bar button:hover {
    background: #ccc;
}

.search-bar button i {
    color: var(--text-color);
    font-size: 16px;
}

.logo{
    width: 90px;
}

.logo img {
    height: 60px;
    border-radius: 0px;
}

nav{
    height: 60px;
    background-color: var(--text-color);
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    color: #ccc;
}

.dropdown-menu.active {
    display: block;
}

.sideDiv{
    background-color: var(--text-color);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    padding-bottom: 10px;
    border-radius: 0px 10px 10px;
}

.fa-bars{
    display: none !important;
}
.fa-bars:hover{
    cursor: pointer;
}

.sideDiv.active{
    display: flex;
    position: absolute;
    z-index: 1;
}

.sideDiv > ul{
    display: flex;
    flex-direction: column;
}

.sideDivC{
    display: flex;
    flex-direction: row-reverse
}

.search-barS button i {
    color: var(--text-color);
    font-size: 16px;
}
.search-barS {
    display: flex;
    align-items: center;
    height: 40px;
}

.search-barS input {
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 150px;
    font-size: 16px;
    height: 40px;
    border-radius: 30px 0 0 30px;
}

.search-barS button {
    background: var(--base-color);
    height: 40px;
    border: none;
    padding: 10px 15px;
    border-radius: 0 30px 30px 0;
}

.search-barS button:hover {
    background: #ccc;
}

.search-barS button i {
    color: var(--text-color);
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .begone{
        display: none !important;
    }
    .fa-bars{
        display: block !important;
    }
    .search-bar {
        display: none;
      }
  }

  @media only screen and (min-width: 901px) {
    .sideDiv {
      display: none !important;
    }
  }
  